<!DOCTYPE html>

<html>

<head>
    <title>Input Match Data</title>
    <link rel="stylesheet" type="text/css" href="/css/matchScouting.css">
</head>

<div id="background"></div>

<body>
    <a href="/scouting/home">
        <img src="/images/back.png" style="float:left;position:relative;
    	   z-index:1000; width:100px"></a>
    <img src="/images/back.png" style="opacity:0.0;float:right;position:relative;
    	   z-index:1000; width:100px">
    <h1>Input Match Number</h1>

    <form method="POST">

        <input type="text" name="matchNumber" placeholder="Enter Match Number...">

        <input type="submit" value="Submit">
    </form>
</body>



</html>